@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@1,600&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    Margin: 0;
    padding: 0;
    font-family: 'Trirong', sans-serif;
}

li, .navlinks, button {
    font-weight: 600;
    font-size: 16px;
    color: #fffafa;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

h1 {
    cursor: pointer;
    color: #fffafa;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li .navlinks {
    transition: all 0.3s ease 0s;
}

.nav_links li .navlinks:hover {
    color: black;
}

button {
    padding: 9px 25px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: transparent;
    transition: 0.3s ease-in;
}

.box {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2)
{
    animation-delay: -0.2s;
}

.box span:nth-child(3)
{
    animation-delay: -0.4s;
}
@keyframes animate 
{
    0%
    {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

#low-opacity-bg-image1 {
    background-image: url('fundingimg2.PNG');
    background-size: cover;
    background-position: center;
    position: relative;
    isolation: isolate;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}    

#low-opacity-bg-image1::after {
    content:"";
    position: absolute;
    z-index: -1;
    background: silver;
    inset: 0;
    opacity: .3;
}

#section1 {
    text-align: center;
}

#articleonetitle {
    font-size: 50px;
    text-align: center;
    color: white;
}

#parent_container {
    align-items:center;
    display: flex;
    justify-content:space-between;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    background-color: black;
}

#section2 {
    text-align: center;
    align-items: center;
    color: RGB(251,102,95);
    height: 99%;
    background-color: black;
}    

img {
    width: 100%;
    height: 99%;
    border-radius: 10px;
}

.articletwopara {
    font-size: 20px;
    background-color: black;
    border-radius: 10px;
    border: solid;
    width: 95%;
}
